faiss-cpu==1.7.0
Flask==3.0.3
huggingface_hub==0.24.6
langchain==0.3.0
langchain-community==0.3.0
langchain-core==0.3.1
langchain-huggingface==0.1.0
langchain-openai==0.2.0
langchain-text-splitters==0.3.0
langsmith==0.1.121
numpy==1.26.4
openai==1.47.0
orjson==3.9.15
pandas==2.2.2
pip==24.2
pypdf==5.0.0
scikit-learn==1.5.1
scipy==1.13.1
sentence-transformers==3.0.1
streamlit==1.38.0
torch==2.4.0
torchvision==0.19.1a0
tornado==6.4.1
tqdm==4.66.5
transformers==4.44.1